# Python
microservicio/.env
microservicio/venv/
microservicio/.venv/
microservicio/__pycache__/
microservicio/**/__pycache__/
microservicio/**/*.pyc
microservicio/.pytest_cache/

# Archives
*.zip

# OS
.DS_Store
Thumbs.db
